header{
  background-color: rgba(0,0,0,.2);
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1;
}
header > .container{
  width: 100%;
  margin: 0 auto;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  color: #fff;
  text-align: justify;
}
span.highlight{
  color: #10dae9;
}

@media(min-width:700px){
  #buger-container{
    display:none;
  }
  header > .container{
    width: 100%;
    margin: 0 auto;
    padding: .75rem;
  }

  #main-nav ul{
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 1.75rem;
    }
  #main-nav ul li{
    list-style: none; 
    text-align:center; 
    display: inline-block;
    padding-right: .75rem;
    margin-left: .75rem;
  }
  
  #main-nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
   color: #fff;
   line-height: 3;
   text-align: center; 
  }
}


@media(max-width:700px){

  #main-nav{
    display: none;
  }

}